
<body>
<h1 class="title1">IN THIS PAGE YOU CAN FIND ALL THE LINKS TO MY SOCIAL MEDIA TO CONTACT ME</h1>

<div class="container1"><br><br><br><br><br><br><br><br><br><br><br><br></div>
<div class="container my-5">
  <mat-icon>facebook</mat-icon><button  type="button" class="btn btn-dark"><a href="https://www.facebook.com/luigi.buono.9250"target=_blank>Facebook</a></button>
  <mat-icon>info</mat-icon><button  type="button" class="btn btn-dark"><a href="https://github.com/luigibuono" target="_blank">GitHub</a></button>
  <mat-icon>info</mat-icon><button  type="button" class="btn btn-dark"><a href="https://www.linkedin.com/in/luigi-buono-334b73258/"target=_blank>Linkedin</a></button>
  <mat-icon>info</mat-icon><button  type="button" class="btn btn-dark"><a href="https://twitter.com/LuigiBu48833456"target=_blank>Twitter</a></button>
  <mat-icon>info</mat-icon><button  type="button" class="btn btn-dark"><a href="https://www.instagram.com/luigi.buono_/"target=_blank>Instagram</a></button>
</div>
<div class="container2"><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
<div class="container3"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
</body>
