<body>
<mat-grid-list cols="4" rowHeight="1:1">
  <mat-grid-tile> <img class="pic2" mat-card-image src="../../../assets/pic_0107_031848~2.png"></mat-grid-tile>
  </mat-grid-list>
<mat-card class="example-card">
  <mat-card-header>
    <h1 class="title2">FULL-STACK DEVELOPER</h1>
    <h1 class="title1">Luigi Buono</h1>
  </mat-card-header>
  <mat-card-content>
    <div class="colonne">
      <div>
    <h1><b>About me</b><br><br>Hello everyone, let me introduce myself , I'm Luigi, I'm 22 and I'm from Ischia,
      a small island in the gulf in Naples.<br> I graduated from a computer technical
      institute in my country, I love programming and I want to make it my profession.<br>
      I always aim to improve myself, I like building dynamic websites and learning
      new programming languages to apply to my sites.<br> I have acquired various
      experiences in the field thanks to the startup Start2impact University which has
      made a wide choice of masters available to me, in my case I have chosen the
      course as: Full-stack developer.<br> In addition, during my school years, the school
      made available to me various courses that I successfully completed, one on the
      Java programming language, from ORACLE, and one on CyberSecurity from CCNA
      CISCO.</h1>
     </div>
     <div>
    <h1><b>I write from</b></h1>
      <section class="mapbox" data-mapbox>
        <figure>
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24184.064558893562!2d13.948468599999998!3d40.73984795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133b6ac8f882fc3d%3A0xa5bacd4571de1115!2sPorto%20d&#39;Ischia!5e0!3m2!1sit!2sit!4v1682186847457!5m2!1sit!2sit" width="100%" height="680px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </figure>
      </section>
     </div>
     </div>
    <mat-divider></mat-divider>
  </mat-card-content>
</mat-card>
</body>

