
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title><b>The Pokèmon API project</b>
      <img class="icons1" mat-card-image src="../../../assets/icons8-angular-24.png">
    </mat-card-title>
    <mat-card-subtitle><a href="https://pokeapi.co/">click here to get the API</a></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../assets/pokemon image.jpeg" height=380px>
  <mat-card-content>
    <div class="p1">
    <p>
      I built this project to improve my angular skills.
      I just used the get method to implement for displaying a large list of pokemon, an event for searching them in a navigation bar and a button for displaying stats for each pokemon.
    </p>
    </div>
  </mat-card-content>
  <div class="btn1">
    <button mat-button ><a href="https://hilarious-biscotti-ec08c6.netlify.app" target="_blank"><b>PROJECT</b></a> </button>
  </div>
</mat-card>




<mat-card class="example-card2">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image2"></div>
    <mat-card-title><b>The Counter</b>
    </mat-card-title>
    <mat-card-subtitle><b>Start2Impact 2° Project JavaScript Basics</b></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../assets/Screenshot 2023-07-23 113302.png" height=400px>
  <mat-card-content>
    <div class="p2">
    <p>
      I built this project to improve my javascript skills, a simple number counter with a few lines of code.
      The operation consists of three buttons, one for increasing, one for decreasing and one for resetting the counter.
    </p>
    </div>
  </mat-card-content>
  <div class="btn2">
  <button mat-button ><a href="https://progettocontatorejs.netlify.app" target="_blank"><b>PROJECT</b></a></button>
</div>
</mat-card>



<mat-card class="example-card3">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image3"></div>
    <mat-card-title><b>The Calculator</b>
    </mat-card-title>
    <mat-card-subtitle><b>Training with JavaScript</b></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../assets/Screenshot 2023-07-23 134213.png" height=400px>
  <mat-card-content>
    <div class="p3">
    <p>
      I built a calculator with all basic features, code written with html, css style and javascript language
      <br>
      <br>
      <br>
      <br>
    </p>
    </div>
  </mat-card-content>
  <div class="btn3">
  <button mat-button ><a href="https://calculator-luigibuono.netlify.app/" target="_blank"><b>PROJECT</b></a></button>
</div>
</mat-card>



<mat-card class="example-card4">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image4"></div>
    <mat-card-title><b>A Responsive Portfolio</b>
    </mat-card-title>
    <mat-card-subtitle><b>Start2Impact 1° Project HTML & CSS</b></mat-card-subtitle>
    <img class="icons2" mat-card-image src="../../../assets/icons8-css-48.png">
  </mat-card-header>
  <img mat-card-image src="../../../assets/Screenshot 2023-04-22 190532.png" height=394px>
  <mat-card-content>
    <div class="p4">
    <p>
      This was my first project ever, a responsive portfolio built with a lot of html, css and first steps with js <br><br><br><br>
    </p>
    </div>
  </mat-card-content>
  <div class="btn4">
  <button mat-button ><a href="https://responsiveportfolioluigibuono.netlify.app" target="_blank"><b>PROJECT</b></a></button>
</div>
</mat-card>

<mat-card class="example-card5">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image5"></div>
    <mat-card-title><b>Backend Project with Java</b>
    </mat-card-title>
    <mat-card-subtitle><b>Start2Impact 5° Project Java Basics</b></mat-card-subtitle>
    <img class="icons3" mat-card-image src="../../../assets/Screenshot 2023-07-25 104216.png">
  </mat-card-header>
  <img mat-card-image src="../../../assets/image java.png" height=397px>
  <mat-card-content>
    <div class="p5">
    <p>
      This project is only available in local use, you can find it on my GitHub profile.<br><br><br><br>
    </p>
    </div>
  </mat-card-content>
  <div class="btn5">
  <button mat-button ><a href="https://github.com/luigibuono/ProgettoJava-Food" target="_blank"><b>PROJECT</b></a></button>
</div>
</mat-card>

<mat-card class="example-card6">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image6"></div>
    <mat-card-title><b>Tour of Heroes</b>
    </mat-card-title>
    <mat-card-subtitle><b>Test project from the official angular documentation</b></mat-card-subtitle>
    <img class="icons4" mat-card-image src="../../../assets/heroes.jpg">
  </mat-card-header>
  <img mat-card-image src="../../../assets/heroes.jpg" height=394px>
  <mat-card-content>
    <div class="p6">
    <p>
      first steps with angular through an example made available by the official documentation<br><br><br><br>
    </p>
    </div>
  </mat-card-content>
  <div class="btn6">
  <button mat-button ><a href="https://zingy-longma-9a39e3.netlify.app/superheroes" target="_blank"><b>PROJECT</b></a></button>
</div>
</mat-card>

<mat-card class="example-card7">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image7"></div>
    <mat-card-title><b>Node.Js Travel</b></mat-card-title>
    <mat-card-subtitle><b>Start2Impact 6° Project Node.JS</b></mat-card-subtitle>
    <img class="icons5" mat-card-image src="../../../assets/icons8-node-js-64.png">
  </mat-card-header>
  <img mat-card-image src="../../../assets/travelimage.jpg" height=380px>
  <mat-card-content>
    <div class="p7">
    <p>
      Backend project for a sustainable travel agency with node.js<br><br><br><br><br><br>
    </p>
    </div>
  </mat-card-content>
  <div class="btn7">
  <button mat-button ><a href="https://github.com/luigibuono/Node.js-Travel" target="_blank"><b>PROJECT</b></a></button>
</div>
</mat-card>


<mat-card class="example-card8">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image8"></div>
    <mat-card-title><b>Life Quality Project</b>
    </mat-card-title>
    <mat-card-subtitle><b>Start2Impact 3° Project JavaScript Advanced</b></mat-card-subtitle>
    <img class="icons6">
  </mat-card-header>
  <img mat-card-image src="../../../assets/Screenshot 2023-07-25 223741.png" height=394px >
  <mat-card-content>
    <div class="p8">
    <p>
      Advanced use of javascript language with api implementation: https://api.teleport.org/api/urban_area <br><br><br><br>
  </p>
    </div>
  </mat-card-content>
  <div class="btn8">
  <button mat-button ><a href="https://javascritpadvanced.netlify.app/" target="_blank"><b>PROJECT</b></a></button>
</div>
</mat-card>



<mat-card class="example-card9">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image9"></div>
    <mat-card-title><b>Angular1 for NTT-DATA</b>
    </mat-card-title>
    <mat-card-subtitle><b>Start2Impact 4° Project Angular</b></mat-card-subtitle>

  </mat-card-header>
  <img mat-card-image src="../../../assets/Screenshot 2023-07-25 225437.png" height=394px>
  <mat-card-content>
    <div class="p9">
    <p>
      Angular project using these apis:https://gorest.co.in/
      login, logout, new post, new comment <br><br><br><br>
    </p>
    </div>
  </mat-card-content>
  <div class="btn9">
  <button mat-button ><a href="https://tubular-maamoul-6d36b2.netlify.app/" target="_blank"><b>PROJECT</b></a></button>
</div>
</mat-card>

<mat-card class="example-card10">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image10"></div>
    <mat-card-title><b>A Responsive Portfolio</b>
    </mat-card-title>
    <mat-card-subtitle><b>Start2Impact 1° Project HTML & CSS</b></mat-card-subtitle>
    <img class="icons3" mat-card-image src="../../../assets/icons8-css-48.png">
  </mat-card-header>
  <img mat-card-image src="../../../assets/Screenshot 2023-04-22 190532.png" height=394px>
  <mat-card-content>
    <div class="p10">
    <p>
      This was my first project ever, a responsive portfolio built with a lot of html, css and first steps with js <br><br><br><br>
    </p>
    </div>
  </mat-card-content>
  <div class="btn10">
  <button mat-button ><a href="https://responsiveportfolioluigibuono.netlify.app" target="_blank"><b>PROJECT</b></a></button>
</div>
</mat-card>








