<body>
<h1><b>Education</b></h1>
<mat-list>
  <mat-list-item>Computer Technical Institute
    2014 — 2019 —
    Basis of programming, competence in the field of hardware and software</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>CCNA Cisco,Cybersecurity Essentials
    2019 —
    A password is like a toothbrush. You shouldn't share it with anyone. Protect your technology, your identity and everything in between.</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Oracle,Java Foundation
    2018-2019 —
    Everything you need to know about Java.</mat-list-item>
</mat-list>

<hr>

<h1><b>Experience</b></h1>
<mat-list>
  <mat-list-item>Student
    2023 — Present
    student of the start2impact start-up masters: full-stack development</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Delicatessen Seller
    2019 — 2023
    Preparation of the counter with cured meats and cheeses, sale of typical products, wines, champagnes, everything to do.</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Lifeguard
    2015 — 2018
    my first summer job, during my school years.</mat-list-item>
</mat-list>
<hr>
<h1><b>A personal ranking of my current level as a programmer</b></h1>
<b>HTML: 80/100</b><mat-progress-bar value="80"></mat-progress-bar>
<b>CSS: 70/100</b><mat-progress-bar value="70"></mat-progress-bar>
<b>JAVASCRIPT: 60/100</b><mat-progress-bar value="60"></mat-progress-bar>
<b>ANGULAR: 70/100</b><mat-progress-bar value="70"></mat-progress-bar>
<b>NODE.JS: 60/100</b><mat-progress-bar value="60"></mat-progress-bar>
<b>JAVA: 50/100</b><mat-progress-bar value="50"></mat-progress-bar>
<b>C++: 30/100</b><mat-progress-bar value="30"></mat-progress-bar>
<b>MONGODB: 50/100</b><mat-progress-bar value="50"></mat-progress-bar>
<b>FIREBASE: 40/100</b><mat-progress-bar value="40"></mat-progress-bar>
<b>GIT: 80/100</b><mat-progress-bar value="80"></mat-progress-bar>
<b>WORDPRESS: 30/100</b><mat-progress-bar value="30"></mat-progress-bar>
<b>MYSQL: 20/100</b><mat-progress-bar value="20"></mat-progress-bar>
</body>


